<div class="login-page-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>

            <div class="col-6">
                <div class="login-card-container">
                    <div class="card p-0">
                        <div class="px-card py-10 border-bottom">
                            <div class="login-ostratum-logo">
                                <img [src]="storageService.logoURL" alt="ostratum-logo">
                            </div>
                        </div>
                        <div class="content">
                            <form>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control"
                                        placeholder="{{ 'LOGIN.USERNAME' | translate}}" required="required"
                                        [(ngModel)]="username" name="username">
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control"
                                        placeholder="{{ 'LOGIN.PASSWORD' | translate}}" required="required"
                                        [(ngModel)]="password" name="password">
                                </div>
                                <button class="btn btn-primary btn-block" (click)="signIn()">
                                    {{ 'LOGIN.SIGNIN' | translate}}
                                </button>
                            </form>
                        </div>
                        <div class="px-card py-10 bg-light-lm bg-very-dark-dm rounded-bottom">
                            <p class="font-size-12 m-0">
                                {{ 'LOGIN.DESCRIPTION' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3"></div>
        </div>
    </div>
</div>