<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="content-title">
                    {{'SETTINGS.TITLE_LANGUAGE' | translate}}
                </h2>
            </div>
            <div class="col-lg-12">
                <p>
                    {{'SETTINGS.TITLE_LANGUAGE_DESCRIPTION' | translate}}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="mode-checkbox">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="checkbox-light" [checked]="language == 'en'"
                            (change)="updateLanuage('en')">
                        <label for="checkbox-light"> {{'SETTINGS.ENGLISH' | translate}}</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mode-checkbox">
                    <div class="custom-checkbox">
                        <input type="checkbox" id="checkbox-dark" [checked]="language == 'de'"
                            (change)="updateLanuage('de')">
                        <label for="checkbox-dark">{{'SETTINGS.GERMAN' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img class="country-icon" src="http://catamphetamine.gitlab.io/country-flag-icons/3x2/GB.svg" alt=""
                    (click)="updateLanuage('en')">
            </div>

            <div class="col-lg-6">
                <img class="country-icon" src="http://catamphetamine.gitlab.io/country-flag-icons/3x2/DE.svg" alt=""
                    (click)="updateLanuage('de')">
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="content-title">
                            {{'SETTINGS.TITLE_DESIGN' | translate}}
                        </h2>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            {{'SETTINGS.TITLE_DESIGN_DESCRIPTION' | translate}}
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="mode-checkbox">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="checkbox-light" [(ngModel)]="!darkModeOn"
                                    [disabled]="!darkModeOn" (change)="updateLightMode()">
                                <label for="checkbox-light">{{'SETTINGS.LIGHT_MODE' | translate}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mode-checkbox">
                            <div class="custom-checkbox">
                                <input type="checkbox" id="checkbox-dark" [(ngModel)]="darkModeOn"
                                    [disabled]="darkModeOn" (change)="updateDarkMode()">
                                <label for="checkbox-dark">{{'SETTINGS.DARK_MODE' | translate}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card p-0 mode-container" (click)="updateLightMode()">
                            <img src="../../../assets/images/light_mode.png">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card p-0 mode-container" (click)="updateDarkMode()">
                            <img src="../../../assets/images/dark_mode.png">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>