<div class="w-400 mw-full project-container" (click)="resolveProjectClick($event)">
  <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
  <div class="card">
    <h2 class="card-title">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span class="project-name">{{project.name}}</span>
      <span>
        <i id="delete" class="fa fa-trash-o action-icon text-danger" aria-hidden="true"></i>
      </span>
      <span>
        <i id="edit" class="fa fa-pencil action-icon" aria-hidden="true"></i>
      </span>
    </h2>
    <p>
      {{project.description}}
    </p>
  </div>
</div>