.project-name {
    margin-left: 20px;
}

.project-container {
    display: inline-block !important;
}

.card {
    cursor: pointer;
    border-radius: 15px;

    &:hover {
        border-color: #1890FF !important;
    }
}