<div class="translations-container">

  <div class="translations-overview">
    <div class="translation-container">
      <div class="static-content">
        <h5 class="sidebar-title">
          {{'TRANSLATION.TITLE' | translate}}
          <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAddNewTranslationModal()"></i>
          <i class="fa fa-minus-circle" aria-hidden="true" (click)="openDeleteTranslationModal()"></i>
        </h5>
        <div class="sidebar-divider"></div>
        <div class="sidebar-content">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchbarValue" #search>
          <div class="mt-10 font-size-12">
            {{'TRANSLATION.MANUAL_P1' | translate}}
            <kbd>^</kbd>
            {{'TRANSLATION.MANUAL_P2' | translate}}
            <kbd>&#8593;/&#8595;</kbd>
            {{'TRANSLATION.MANUAL_P3' | translate}}
          </div>
          <div class="mt-10 font-size-12">
            <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-1" [(ngModel)]="showMissingTranslations">
              <label for="checkbox-1"> {{'TRANSLATION.FILTER' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="translation-content" *ngIf="keys && keys.length != 0">
        <div *ngFor="let key of keys | translationPipe:searchbarValue:showMissingTranslations;">
          <app-key [key]="key" [searchbarValue]="searchbarValue" [showMissingTranslations]="showMissingTranslations"
            [chosenKeyId]="chosenKeyId"></app-key>
        </div>
      </div>
    </div>
  </div>

  <div class="translations-display">
    <div *ngIf="chosenKey == null"></div>
    <div class="translation-boxes" *ngIf="chosenKey != null">
      <div class="w-400 mw-full" *ngFor="let value of chosenKey.values">
        <div class="card p-0">
          <div class="px-card py-10 border-bottom">
            <div class="translation-header">
              <img [src]="resolveCountryFlagSVG(value.language.acronym)" alt="{{value.language.name}}" />
              <h2 class="card-title font-size-18 m-0">
                {{value.language.name}}
              </h2>
            </div>
          </div>
          <div class="content">
            <form>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="email" class="form-control" [placeholder]="chosenKey.name" required="required" name="test"
                  [(ngModel)]="value.value">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="save-btn-container">
      <button class="btn btn-primary" (click)="saveTranslations()">{{'TRANSLATION.SAVE' | translate}}</button>
    </div>
    <div class="save-btn-container">
      <button class="btn btn-primary" (click)="downloadFileExample()">{{'TRANSLATION.DOWNLOAD' | translate}}</button>
    </div>
  </div>
</div>