.translations-container {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.translations-overview {
    height: 104%;
    background: #f8fafc;

    .sidebar-title {
        font-size: 25px;
    }
}

.translations-display {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 80% 1fr;

    .translation-boxes {
        overflow-y: scroll;
    }

    .save-btn-container {
        button {
            height: 50px;
            width: 250px;
            margin: 0 auto;
            display: block;
        }
    }

    .w-400 {
        display: inline-block !important;

        .card {
            box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
        }
    }
}

.translation-header {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 30px;
    text-align: center;

    img {
        height: 100%;
        width: 100%;
    }
}
