<div class="page-wrapper with-navbar with-sidebar">

    <nav class="navbar">
        <a href="#" class="sidebar-brand ostratum-logo">
            <img [src]="storageService.logoURL" alt="...">
        </a>

        <!-- Navbar form (inline form) -->
        <form class="form-inline d-none d-md-flex ml-auto">
            <a class="sidebar-link" (click)="logout()">Logout</a>
        </form>
        <!-- Navbar content (with the dropdown menu) -->
    </nav>

    <div class="sidebar">
        <div class="sidebar-menu ostratum-sidebar">
            <div class="view-container">
                <div class="projects-container">
                    <h5 class="sidebar-title">Views</h5>
                    <div class="sidebar-divider"></div>
                    <span [ngClass]="{'active': storageService.sidebarStates[0]}" class="sidebar-link" (click)="navigateThroughSidebar('projects', 0)" >{{'SIDEBAR.PROJECTS' | translate}}</span>
                </div>

                <div class="projects-container">
                    <h5 class="sidebar-title">System</h5>
                    <div class="sidebar-divider"></div>
                    <span [ngClass]="{'active': storageService.sidebarStates[1]}" class="sidebar-link" (click)="navigateThroughSidebar('account', 1)">Account</span>
                    <span [ngClass]="{'active': storageService.sidebarStates[2]}" class="sidebar-link" (click)="navigateThroughSidebar('settings', 2)">Settings</span>
                </div>

                <div class="projects-container" *ngIf="storageService.adminState">
                    <h5 class="sidebar-title">Admin</h5>
                    <div class="sidebar-divider"></div>
                    <span [ngClass]="{'active': storageService.sidebarStates[3]}" class="sidebar-link" (click)="navigateThroughSidebar('users', 3)">Users</span>
                    <span [ngClass]="{'active': storageService.sidebarStates[4]}" class="sidebar-link" (click)="navigateThroughSidebar('languages', 4)">Languages</span>
                </div>

                <div *ngIf="!storageService.adminState"></div>

                <div>
                    <span class="sidebar-link">Ostratum Beta-0.0.2</span>
                </div>
            </div>
        </div>
    </div>
    

    <div class="content-wrapper">
        <div class="page-wrapper">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>