<div class="page-wrapper with-sidebar">
    <div class="sidebar">
        <div class="sidebar-menu ostratum-sidebar">
            <div class="logo-container">
                <a href="#" class="sidebar-brand ostratum-logo">
                    <img src="./../assets/images/ostratum_logo_2.png" alt="...">
                </a>
            </div>

            <div class="view-container">
                <div class="projects-container">
                    <h5 class="sidebar-title">Views</h5>
                    <div class="sidebar-divider"></div>
                    <a href="#" class="sidebar-link active">Projects</a>
                </div>

                <div class="projects-container">
                    <h5 class="sidebar-title">System</h5>
                    <div class="sidebar-divider"></div>
                    <a class="sidebar-link">Account</a>
                    <a class="sidebar-link">Settings</a>
                </div>

                <div>
                    <span class="sidebar-link">Ostratum Beta-0.0.2</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="page-wrapper">
            <div class="content-wrapper">
                <nav class="navbar">
                    <!-- Navbar form (inline form) -->
                    <form class="form-inline d-none d-md-flex ml-auto">
                        <a class="sidebar-link">Logout</a>
                    </form>
                    <!-- Navbar content (with the dropdown menu) -->
                </nav>
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>